body {
  margin: 60px auto;
}

.weather-app {
  max-width: 800px;
  margin: 60px auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  padding: 70px;
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #2a504f;
}

.city {
  font-weight: 700;
  font-size: 40px;
}

.humidity-wind {
  font-size: 16px;
  padding-bottom: 20px;
}
.description {
  color: #d81159;
}
.description:first-letter {
  text-transform: capitalize;
}

.humidity-percent {
  color: #d81159;
}

.wind-speed {
  color: #d81159;
}

#search-button {
  background-color: #2a504f;
  border-color: #2a504f;
}
#search-button:hover {
  background-color: #d81159;
  border-color: #d81159;
  color: floralwhite;
  transition: all 200ms ease-in;
}

#location-button {
  background-color: #2a504f;
  border-color: #2a504f;
}
#location-button:hover {
  background-color: #d81159;
  border-color: #d81159;
  color: floralwhite;
  transition: all 200ms ease-in;
}

#temperature-column {
  text-align: center;
  position: relative;
  top: 50px;
}

.current-temperature {
  font-size: 60px;
  font-weight: 700;
}

#forecast {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.forecast-min {
  opacity: 0.5;
}

.today-date {
  color: #d81159;
  padding-top: 30px;
}

.code-link {
  font-family: monospace;
  display: block;
  text-align: center;
  text-decoration: none;
  padding-bottom: 20px;
  color: #2a504f;
}

.code-link:hover {
  color: #d81159;
}

.last-updated {
  opacity: 0.5;
  font-size: 12px;
  padding-bottom: 0px;
  position: relative;
  top: 30px;
}
